<h4 style="float: right;padding-right: 50px;padding-top: 23px;" class="btn btn-link" (click)="onLogout()">logout</h4>
<div class="container padding_5">
    <h4 class="title">Task Manager</h4>

    <div class="margin-5">
        <h4>
            <a class="link1" (click)='AddTask()'>Add Task</a>
            <a class="link2" (click)='ViewTask()'>View Task</a>
        </h4>
    </div>

    <hr>
    <table class="table border-none">
        <tbody *ngFor="let data of taskListFiltered" class="listTbl">
            <tr>
                <th>Task</th>
                <th>Parent</th>
                <th>Priority</th>
                <th>Start</th>
                <th>End</th>
                <th></th>
                <th></th>
            </tr>
            <tr id="listContent">
                <td>
                    <label>{{data.taskName}}</label>
                </td>
                <td>
                    <label>{{data.parentTask}}</label>
                </td>
                <td>{{data.priority}}</td>
                <td>{{data.startDate}}</td>
                <td>{{data.endDate}}</td>
                <td *ngIf="data.isTaskEnded == 0">
                    <button (click)='EditTask(data)'>Edit</button>
                </td>
                <td *ngIf="data.isTaskEnded == 0 ">
                    <button (click)='EndTask(data)'>End Task</button>
                </td>
                <td *ngIf="data.isTaskEnded != 0 ">
                    <button disabled>Task Ended</button>
                </td>
                <td *ngIf="data.isTaskEnded != 0 ">
                </td>
            </tr>
        </tbody>
    </table>
</div>