<h4 style="float: right;padding-right: 50px;padding-top: 23px;" class="btn btn-link" (click)="onLogout()">logout</h4>
<div class="container padding_5">
    <h4 class="title">Task Manager</h4>

    <table class="table border-none addtask_data">
        <tr>
            <td class="lbl">Task</td>
            <td>
                <input type="text" [(ngModel)]='taskName' />
            </td>
        </tr>
        <tr>
            <td class="lbl pad-20">Priority</td>
            <td>
                <label id='prior'>0</label>
                <label>{{priority}}</label>
                <input type="range" min=1 max=30 step="1" [(ngModel)]='priority' data-show-value="true" />

            </td>
        </tr>
        <tr>

            <td class="lbl">Parent Task</td>
            <td>
                <select class="form-control" name="parentId" [(ngModel)]="pID">
                    <option value="null" class="ng-binding">Please Select Task</option>
                    <option [ngValue]="parent.taskId" *ngFor="let parent of ParentList">
                        {{parent.taskName}}
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="lbl">Start Date:</td>
            <td>
                <input type="date" [(ngModel)]='sDate' />
            </td>
        </tr>
        <tr>
            <td class="lbl">End Date:</td>
            <td>
                <input type="date" [(ngModel)]='eDate' />
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button (click)='UpdateTask()'>Update</button>
                <button class='reset' (click)='Cancel()'>Cancel</button>
            </td>
        </tr>
    </table>

</div>